@model DetailDealReport

@{
    var priceSummary = new PriceSummaryViewModel()
    {
        Income = Model.DepositBalance,
        Expense = Model.WithdrawBalance,
        Total = Model.Total
    };
}

<partial name="_BrowseByMonths" model="@Model.BeginDate" />

<partial name="_PriceSummary" model="@priceSummary" />

@if (Model.GroupedDeals.Count() == 0)
{
    <h5>No hay datos para mostrar</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var groupedDeal in Model.GroupedDeals)
            {
                <tr style="background-color: lightblue; font-size: 26px;">
                    <td colspan="3">
                        @groupedDeal.DealDate.Day
                        <span class="badge bg-secondary">
                            @groupedDeal.DealDate.ToString("ddd")
                        </span>
                    </td>
                    <td class="active_element">@groupedDeal.DepositBalance.ToString("N0")</td>
                    <td class="passive_element">@groupedDeal.WithdrawBalance.ToString("N0")</td>
                </tr>
                @foreach (var deal in groupedDeal.Deals)
                {
                    <tr style="vertical-align: middle;">
                        <td>
                            <a asp-controller="Deal" asp-action="Edit" asp-route-id="@deal.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@deal.Category</td>
                        <td>@deal.Account</td>
                        <td class="active_element">
                            @(deal.OperationTypeId == (int)OperationTypeEnum.Ingreso ? deal.Price.ToString("N0") : null)
                        </td>
                        <td class="passive_element">
                            @(deal.OperationTypeId == (int)OperationTypeEnum.Gasto ? deal.Price.ToString("N0") : null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
